@{
    ViewBag.Title = "Xóa nhà cung cấp";
}

<div class="box box-danger">
    <div class="box-body">
        <form>
            <div class="form-group">
                <label>Tên nhà cung cấp:</label>
                <p class="form-control-static form-control">Meteor</p>
            </div>
            
            <div class="form-group">
                <label>Tên giao dịch:</label>
                <p class="form-control-static form-control">Sao băng</p>
            </div>
            
            <div class="form-group">
                <label>Số điện thoại:</label>
                <p class="form-control-static form-control">091234567</p>
            </div>

            <div class="form-group">
                <label>Email:</label>
                <p class="form-control-static form-control">meteor@gmail.com</p>
            </div>

            <div class="form-group">
                <label>Địa chỉ:</label>
                <p class="form-control-static form-control">11 Nguyễn Huệ</p>
            </div>

            <div class="form-group">
                <label>Tỉnh thành:</label>
                <p class="form-control-static form-control">Thừa Thiên Huế</p>
            </div>

            <div class="form-group text-right">
                <button class="btn btn-danger">
                    <i class="fa fa-trash"></i> Xóa dữ liệu
                </button>
                <a href="~/Supplier" class="btn btn-default">Quay lại</a>
            </div>
        </form>

    </div>
</div>
