<div id="footer-bottom">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-6 copyright">
        <p>© 2023 Foodmart. All rights reserved.</p>
        </div>
        <div class="col-md-6 credit-link text-start text-md-end">
        <p>Free HTML Template by <a href="https://templatesjungle.com/">TemplatesJungle</a> Distributed by <a href="https://themewagon">ThemeWagon</a></p>
        </div>
    </div>
    </div>
</div>
