<div id="footer-bottom" style="margin:40px 0px 0px 0px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>© 2025 Meteor. Toàn quyền.</p>
            </div>
            <div class="col-md-6 credit-link text-start text-md-end">
                <p>Trần Văn Đạt. tranvandatevondev@gmail.com
                </p>
            </div>
        </div>
    </div>
</div>
