<header class="header" style="background-color: white;">
    <div class="container-fluid">
        <div class="row py-3 border-bottom header-content">
            <div class="col-sm-4 col-lg-3 text-center text-sm-start d-flex align-items-center"
                style="gap: 0px 20px; white-space: nowrap;">
                <div class="main-logo">
                    <a href="~/Home">
                        <h3 class="header-title m-0">MeteorShop</h3>
                    </a>
                </div>

                <!-- <div class="debug-css w-100" style="white-space: nowrap;"> -->
                <a href="~/Home" style="display: inline-block; margin-right: 20px; color: rgba(33, 37, 41, 0.75);">
                    <p style="margin-bottom: 0px !important; display: inline;">Trang chủ</p>
                </a>
                <a href="~/Home" style="display: inline-block; margin-right: 20px; color: rgba(33, 37, 41, 0.75);">
                    <p style="margin-bottom: 0px !important; display: inline;">Giới thệu</p>
                </a>
                <a href="~/Home" style="display: inline-block; margin-right: 20px; color: rgba(33, 37, 41, 0.75);">
                    <p style="margin-bottom: 0px !important; display: inline;">Kết nối</p>
                </a>
                <!-- </div> -->



            </div>

            <div
                class="col-sm-8 col-lg-4 d-flex justify-content-end gap-5 align-items-center mt-4 mt-sm-0 justify-content-center justify-content-sm-end">
                <ul class="d-flex justify-content-end list-unstyled m-0">
                    @{
                        var userData = User.GetUserData();
                        if (userData != null)
                        {
                            <li>
                                <div class="dropdown-center me-1 header-avatar">
                                    <a href="#" class="rounded-circle bg-light dropdown-toggle p-0 mx-1 header-avatar"
                                        data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0,30">
                                        <img src="~/images/customer/@(string.IsNullOrWhiteSpace(userData.Photo) ? "default-image.gif" : userData.Photo)"
                                            title="@userData.DisplayName" alt="Avatar" class="rounded-circle dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0,42"
                                            style="width: 40px; height: 40px; object-fit: cover;">
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/Account/Info/@userData.UserId">Thông tin cá nhân</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/Account/ChangePassword">Đổi mật khẩu</a></li>
                                        <li><a class="dropdown-item" href="~/Order/Index">Đơn đã mua</a></li>
                                        <li><a class="dropdown-item" href="~/Account/Logout">Đăng xuất</a></li>
                                    </ul>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li style="color: rgba(33, 37, 41, 0.75); margin-right: 25px;">
                                <a href="~/Account/Login" class="bg-light" style="color: rgba(33, 37, 41, 0.75);">
                                    Đăng nhập
                                </a>
                            </li>
                            <li style="color: rgba(33, 37, 41, 0.75);">
                                <a href="~/Account/Register" class="bg-light" style="color: rgba(33, 37, 41, 0.75);">
                                    Đăng ký
                                </a>
                            </li>
                        }
                    }
                    <li class="d-lg-none">
                        <a href="#" class="rounded-circle bg-light p-2 mx-1" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <use xlink:href="#cart"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="d-lg-none">
                        <a href="#" class="rounded-circle bg-light p-2 mx-1" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasSearch" aria-controls="offcanvasSearch">
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <use xlink:href="#search"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                @{
                    if (userData != null)
                    {
                        var CustomerID = Convert.ToInt32(userData.UserId);
                        int CartID = SV21T1020285.BusinessLayers.CartDataService.GetCartIDByCustomerID(CustomerID);
                        if (SV21T1020285.BusinessLayers.CartDataService.ListOfCartItems(CartID).Count > 0)
                        {
                            <div class="cart text-end d-none d-lg-block dropdown">
                                <a href="~/Cart/Index" class="border-0 bg-transparent d-flex flex-column gap-2 lh-1">
                                    <i class="fa-solid fa-cart-shopping" style="font-size: 26px;"></i>
                                    <span class="cart-count" id="cart-count"
                                        style="position: absolute; top: -2px; right: 0px; background-color: red; color: white; font-size: 12px; width: 10px; height: 10px; border-radius: 50%; display: flex; justify-content: center; align-items: center;"></span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="cart text-end d-none d-lg-block dropdown">
                                <a href="~/Cart/Index" class="border-0 bg-transparent d-flex flex-column gap-2 lh-1">
                                    <i class="fa-solid fa-cart-shopping" style="font-size: 26px;"></i>
                                </a>
                            </div>
                        }
                    }
                }

            </div>
        </div>
    </div>
</header>
