<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phiên bản</b> 1.0
    </div>
    <strong>Bản quyền &copy; 2024-2025 <a href="https://adminlte.io">Meteor</a>.</strong>
</footer>
