@{
    ViewBag.Title = "Quản lý khách hàng";
}

<div class="box box-primary">
    <div class="box-body">
        <!-- Form nhập đầu vào tìm kiếm-->
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nhập tên khách hàng cần tìm" />
                <div class="input-group-btn">
                    <button class="btn btn-info" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    <a href="~/Customer/Create" class="btn btn-primary" style="margin-left: 5px;">
                        <i class="fa fa-plus"></i>Thêm mới
                    </a>
                </div>
            </div>
        </form>

        <p style="margin: 10px 0;">Có <b>1,000 </b>khách hàng trong tổng số <b>100</b> trang</p>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-primary">
                        <th class="text-center" style="vertical-align: middle;">Mã khách hàng</th>
                        <th class="text-center" style="vertical-align: middle;">Tên khách hàng</th>
                        <th class="text-center" style="vertical-align: middle;">Tên giao dịch</th>
                        <th class="text-center" style="vertical-align: middle;">Địa chỉ</th>
                        <th class="text-center" style="vertical-align: middle;">Điện thoại</th>
                        <th class="text-center" style="vertical-align: middle;">Địa chỉ Email</th>
                        <th class="text-center" style="vertical-align: middle;">Bị khóa</th>
                        <th class="text-center" style="vertical-align: middle; width: 100px;">Hành động</th>
                    </tr>

                </thead>
                <tbody>
                    @for (int i = 1; i <= 10; i++)
                    {
                        <tr>
                         <td>#1265111</td>
                            <td class="text-center" style="vertical-align: middle;">Trần Văn Đạt</td>
                            <td class="text-center" style="vertical-align: middle;">Mua lung tung</td>
                            <td class="text-center" style="vertical-align: middle;">138 Nguyễn Huệ, Huế</td>
                            <td class="text-center" style="vertical-align: middle;">0976661557</td>
                            <td class="text-center" style="vertical-align: middle;">tranvandatevondev0503@gmail.com</td>
                            <td class="text-center" style="vertical-align: middle;">1</td>
                             <td class="text-center" style="vertical-align: middle;">
                                <a href="~/Customer/Edit/123" class="btn btn-xs btn-info">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="~/Customer/Delete/123" class="btn btn-xs btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <div class="text-center">
            <ul class="pagination">
                <li><a href="#">1</a></li>  
                <li class="active"><a href="#">2</a></li>  
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
    </div>

</div>